
.wapper  
  .header_item
    .hurima_logo
  .body_item
    %submit.test-btn 
      ボタン
    =form_for @item do |f|
      .input_list
        .item_image
          %p1 出品画像
          %span 必須
          =f.fields_for :image do |i|
            = i.file_field :url
          
        .item_name
          %p1 商品名
          %span 必須
          =f.text_field :name,class: 'item_input_form_name', placeholder: '40字まで'

        .item_description
          %p4 商品の説明
          %span 必須
          =f.text_area :text,class: 'item_description',placeholder: "商品の説明（必須 1,000文字以内（色、重さ、定価、注意点など"

        .product_select-details
          .product_select-group
            .product_header
              カテゴリー
            .product_require
              必須
          .product_category-select
            = f.collection_select :category, @category, :id, :name, { prompt: "---" }, { class: "category_select-box", id: "category_select" }
            %i.fa.fa-chevron-down
          .product_select-children

          .item_category

        


        .item_brand
          %p5 ブランド
          %span 任意
          =f.text_field :brand,class:'item_brand_form'
        .item_category_form





        


          


          =f.submit "送信"

 